Data type string 
String write in different colons such as 
'str' , "string" , '''string''' , """string """


\n Is use to print line next line

In [2]:
name :str ='Badar Abbas'
print(type(name))
print(name)

<class 'str'>
Badar Abbas

In [3]:
message : str ='Piaic Card \nFater's name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (3710717072.py, line 1)

In [4]:
message :str= "Piaic card \n Father's Name"
print(message)

Piaic card
 Father's Name

: '' ,"" ,''' ''' , """  """

In [5]:
name ='Badar abbas'
fname = "M.Saleem"
age = 14
address = '''Islamabad, Pakistan'''
card :str ="Piaic card \nName: " + name +"\nFather Name: " +fname+"\nAGE: " +age+ "Adress: " +address
print(card)

TypeError: can only concatenate str (not "int") to str

In [6]:
name ='Badar abbas'
fname = "M.Saleem"
age = "14"
address = '''Islamabad, Pakistan'''
card :str ="Piaic card \nName: " + name +"\nFather Name: " +fname+"\nAGE: " +age+ "Adress: " +address
print(card)

Piaic card
Name: Badar abbas
Father Name: M.Saleem
AGE: 14Adress: Islamabad, Pakistan

In [10]:


"a"+"b"
"5"+"b"

'5b'

 line continue =" \ "

In [12]:
print(4+ \
      3+\
        8)

15

Define multiline string """ """, ''' '''

In [13]:
name ='Badar abbas'
fname = "M.Saleem"
age = '14'
address = '''Islamabad, Pakistan'''
card :str =""" 
Piaic card
Name=...
Father Name=...
Age=...
Adress=...
"""
print(card)

Piaic card
Name=...
Father Name=...
Age=...
Adress=...

F-string pthon

In [14]:
name : str = 'Badar Abbas'
fname : str = "M.Saleem"
education : str = "Matric"
age : int = 15


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Badar Abbas
Father's Name: M.Saleem
Age: 15
Education : Matric

F-string and Jinja style

In [15]:
f"""
Name={name}
"""

'\nName=Badar Abbas\n'

In [16]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [17]:
name : str = 'Badar Abbas'
fname : str = "M.Saleem"
education : str = "Matric"
age : int = 15


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Badar Abbas
Father's Name: M.Saleem
Age: 15
Education : Matric

In [18]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [24]:
name : str="badar abbas"

print(name.capitalize())
print(name.lower())

Badar abbas
badar abbas

In [25]:
name : str = 'Badar Abbas '
fname : str = "M.Saleem"
education : str = "Matric"
age : int = 15


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Badar Abbas
Father's Name: M.Saleem
Age: 15
Education : Matric

In [26]:
name : str = 'Badar Abbas '
fname : str = "M.Saleem"
education : str = "Matric"
age : int = 15


card : str = """
PIAIC Student Card
Student Name : {b}
Father's Name: {a}
Age: {d}
Education : {c}
""".format(a=fname, b=name, c=education, d=age)

print(card)

PIAIC Student Card
Student Name : Badar Abbas
Father's Name: M.Saleem
Age: 15
Education : Matric

Recommended below two f-string format

In [27]:
name : str = 'Badar Abbas'
fname : str = " M.Saleem"
education : str = "Matric"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Badar Abbas
Father's Name:  M.Saleem
Age: 30
Education : Matric

In [28]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Qasim
15